<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>dfs.replication</name>
    <value>1</value>
  </property>

  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file://__RUN_DIR__/hdfs/name</value>
  </property>

  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file://__RUN_DIR__/hdfs/data</value>
  </property>

  <property>
    <name>dfs.permissions.enabled</name>
    <value>false</value>
  </property>

  <property>
    <name>dfs.namenode.rpc-address</name>
    <value>127.0.0.1:9000</value>
  </property>

  <property>
    <name>dfs.namenode.http-address</name>
    <value>127.0.0.1:9870</value>
  </property>

  <property>
    <name>dfs.namenode.secondary.http-address</name>
    <value>127.0.0.1:9868</value>
  </property>

  <property>
    <name>dfs.datanode.address</name>
    <value>127.0.0.1:9866</value>
  </property>

  <property>
    <name>dfs.datanode.http.address</name>
    <value>127.0.0.1:9864</value>
  </property>

  <property>
    <name>dfs.datanode.ipc.address</name>
    <value>127.0.0.1:9867</value>
  </property>
</configuration>

